{% extends "base.html.twig" %}

{% block pageTitle %}Nos derniers articles{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Extrait</th>
                <th scope="col">Auteur</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Voir le livre</th>
              </tr>
            </thead>
            <tbody>
              {% for books in book %}
                <tr>
                  <td>{{ books.name }}</td>
                  <td>{{ books.extrait }}</td>
                  <td>{{ books.autor }}</td>
                  <td>{{ books.category }}</td>
                  <td>{{ books.date|date("d/m/Y") }}</td>
                  <td><a href="single/{{ books.id }}" class="card-link">Cliquez ici</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
