{% extends "base.html.twig" %}

{% block pageTitle %}Nos derniers articles{% endblock %}

{% block body %}
  {% for books in book %}
  <div class="card my-5">
    <h5 class="card-header">{{ books.name }}</h5>
    <div class="card-body">
      <h5 class="card-title">Auteur : {{ books.autor }}</h5>
      <p>Publié le : {{ books.date|date("d/m/Y") }}</p>
      <p>Publié le : {{ books.status }}</p>
      <p class="card-text">{{ books.resume }} ...</p>

    </div>
  </div>
  {% endfor %}
{% endblock %}
