{% extends "base.html.twig" %}

{% block pageTitle %}
  Livre séléctionné
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
            <div class="col-12  my-3">
              <div class="card mb">
                <img class="card-img-top" src="https://www.image.ie/images/no-image.png" alt="Card image cap">
                <div class="card-body mb">
                  <h5 class="card-title">{{ book.name }}</h5>
                  <p class="card-text">{{ book.resume }}</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Auteur: {{ book.autor }}</li>
                    <li class="list-group-item">Catégorie: {{ book.category.categoryName }}</li>
                    <li class="list-group-item">Publié le: {{ book.date|date("d/m/Y") }}</li>
                    <li class="list-group-item">Loué par:
                    {% if book.user %}
                      <td><a href="/user/{{ book.user.id }}"> {{ book.user.firstname }} {{ book.user.lastname }}</a></td>
                      <a href="{{ path("book_retour", {"id" : book.id})}}" class="btn btn-success">Retour livre</a>
                    {% else %}
                      <td>Personne</td>
                      {{ form_start(form) }}
                      {{ form_widget(form.code) }}
                      {{ form_widget(form.Emprunter) }}
                      {{ form_end(form) }}
                    {% endif %}
                  </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}