{% extends "base.html.twig" %}

{% block pageTitle %}Listes des utilisateurs{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Code</th>
                    <th scope="col">Profil</th>
                    </tr>
                </thead>
                <tbody>
                {% for users in user %}
                    <tr>
                    <th scope="row">{{ users.id }}</th>
                    <td>{{ users.firstname }}</td>
                    <td>{{ users.lastname }}</td>
                    <td>{{ users.code }}</td>
                    <td><a href="user/{{ users.id }}" class="card-link">Cliquez ici</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
